body,html {

}


#header {
        top:0;
	background-color:white;
	text-align:center;	
	border:none;
        width: 100%;
        position:static; 
        left:0;
}

#footer {
	background-color:#fcba03;
	text-align:center;
	padding:0; 
	margin:0;
	border:none;
}


#body {
	overflow:auto; /* mostra le scroll bars */
        left:0;
        right:0; /* si estende fino all'estrema destra */
        background-color:white;
        overflow:auto; /* mostra le scroll bars */
        position:static; 
	top:20px; /* scopre l'header */
	bottom:30px;  /* scopre il footer */
}

#left {
	background-color:yellow;
	text-align:center;
	padding:0; 
	margin:0;
	border:none;
}

#right {
	background-color:magenta;
	text-align:center;
	padding:0; 
	margin:0;
	border:none;
}

#logo {
      float: left;
      
    }

#title {
      margin-top: 30px;
      display: inline-block;
      font-size: 24px;
      font-weight: bold;
    }

.topnav {
  background-color:#fcba03;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #003399;
  color: white;
}

.login-button {
            padding: 10px 20px;
            margin-top: 25px;
            background-color: #003399;
            color: white;
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 10px;
        }
.login-button:hover {
  background-color: #fcba03;
  color: black;
}

.classical-button {
            padding: 10px 20px;
            background-color: #003399;
            color: white;
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 10px;
        }
.classical-button:hover {
  background-color: #fcba03;
  color: black;
}
a {
    text-decoration: none;
    color:black;
}

#aule {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#aule td, #aule th {
  border: 1px solid #ddd;
  padding: 8px;
}

#aule tr:nth-child(even){background-color: #f2f2f2;}

#aule tr:hover {background-color: #ddd;}

#aule th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: transparent;
  color: black;
} 

#indietro { 
    top: 20px; 
    right: 20px;
    padding: 10px 20px;
}