<div class="six columns">
    <h2>${aula.nome}</h2>
    <i>Pagina dell'aula: ${aula.nome}</i>
    <p>
        Capienza: ${aula.capienza} persone
        <br>Numero di prese elettriche: ${aula.numeroPreseElettriche}
        <br>Numero di prese di rete: ${aula.numeroPreseRete}
        <br>Email responsabile: ${aula.emailResponsabile}
        <br>Posizione: ${aula.posizione.luogo}, ${aula.posizione.edificio}, ${aula.posizione.piano}
    </p>
    <br>
    
    <h3>Eventi</h3>
    <a href="eventisettimana?IDaula=${aula.key}&data=${giorno}"> Eventi per settimana </a>
</div>
<div class="six cloumns">
    <#if (aula.attrezzature?size>0)>
    <h3>Attrezzatura</h3>

    <ul>
        <#list aula.attrezzature as attrezzatura>
        <li>
            ${attrezzatura.nome}
        </li>
        </#list>
    </ul>
    </#if>
</div>


