<div class="six columns">
    <h2>${aula.nome}</h2>
    <i>Pagina dell'aula: ${aula.nome}</i>
    <p>
        Capienza: ${aula.capienza} persone
        <br>Numero di prese elettriche: ${aula.numeroPreseElettriche}
        <br>Numero di prese di rete: ${aula.numeroPreseRete}
        <br>Email responsabile: ${aula.emailResponsabile}
        <br>Posizione: ${aula.posizione.luogo}, ${aula.posizione.edificio}, ${aula.posizione.piano}
    </p>
    <br>
    <#if (aula.eventi?size>0)>
    <h3>Eventi</h3>

    <ul>
        <#list aula.eventi as evento>
        <li>
            <a href="evento?id=${evento.key}"><b>${evento.oraInizio} - ${evento.oraFine} ${evento.nome} ${evento.tipologia}</b>&nbsp; ${evento.giorno} &nbsp; </a>
            <p>${evento.descrizione}<p>
        </li>
        </#list>
    </ul>
    </#if>
</div>
<div class="six cloumns">
    <#if (aula.attrezzature?size>0)>
    <h3>Attrezzatura</h3>

    <ul>
        <#list aula.attrezzature as attrezzatura>
        <li>
            ${attrezzatura.nome}
        </li>
        </#list>
    </ul>
    </#if>
</div>


