<div class="row" id="header" >
    <div class="sixteen columns">
        <div class="sinistra"> 
        <ul class="breadcrumb">
            <li><a href="listgruppi">Home</a></li>
            <li><a href="gruppo?n=${IDgruppo}">Lista Aule</a></li>
        </ul>
    </div> 
    </div>
</div>
<h3>Eventi nelle prossime 3 ore </h3>  
<#if (eventi?size>0)>
<ul>
    <#list eventi as evento>
    <li>
        <p>${evento.nome} &nbsp; ${evento.giorno} &nbsp; ${evento.aula.nome}&nbsp; ${evento.oraInizio}<p>
    </li>
    </#list>
</ul>
</#if>
