<div class="row" id="header">
    <div class="sixteen columns">
        <div class="sinistra">
            <ul class="breadcrumb">
                <li><a href="listgruppi">Home</a></li>
                <li><a href="gruppo?n=${aula.gruppo.key}">Lista Aule</a></li>
                <li><a href="aula?id=${aula.key}">Info Aula</a></li>
            </ul>
        </div>
    </div>
</div>

<h3>Eventi dell'aule ${aula.nome}</h3>

<div style="text-align: center">
    <a href="eventisettimana?IDaula=${aula.key}&data=${settiamanaprecedente}">
        <button class="classical-button">Settimana Precedente</button>
    </a>
    &nbsp;
    <a href="eventisettimana?IDaula=${aula.key}&data=${settimanasuccessiva}">
        <button class="classical-button">Settimana Prossima</button>
    </a>
</div>
<br>
<!--bisogna mettere il mese sopra i giorni della settimana, in ogni giorno della settimana bisogna mettere il numero, nel pallino nero come volevo fare io-->

<#if (eventi?size>0)>
    <table id="aule">
        <tr>
            <th>Orario</th>
            <th>Lun</th>
            <th>Mar</th>
            <th>Mer</th>
            <th>Gio</th>
            <th>Ven</th>
            <th>Sab</th>
            <th>Dom<br>Giorno</th>
        </tr>
        <#list ["08:00-08:15", "08:15-08:30", "08:30-08:45", "08:45-09:00", "09:00-09:15", "09:15-09:30", "09:30-09:45",
"09:45-10:00", "10:00-10:15", "10:15-10:30", "10:30-10:45", "10:45-11:00", "11:00-11:15", "11:15-11:30",
"11:30-11:45", "11:45-12:00", "12:00-12:15", "12:15-12:30", "12:30-12:45", "12:45-13:00", "13:00-13:15",
"13:15-13:30", "13:30-13:45", "13:45-14:00", "14:00-14:15", "14:15-14:30", "14:30-14:45", "14:45-15:00",
"15:00-15:15", "15:15-15:30", "15:30-15:45", "15:45-16:00", "16:00-16:15", "16:15-16:30", "16:30-16:45",
"16:45-17:00", "17:00-17:15", "17:15-17:30", "17:30-17:45", "17:45-18:00", "18:00-18:15", "18:15-18:30",
"18:30-18:45", "18:45-19:00"
] as orario>
            <tr>
                <td>${orario}</td>
                <#list eventi as evento>
                    <#if (evento.oraInizio?string("HH:mm")+"-"+evento.oraFine?string("HH:mm") == orario)>
                        <td>
                            <div class="event-calendario">
                                <div class="event-desc-calendario">
                                    ${evento.nome}&nbsp; ${evento.oraInizio}&nbsp; ${evento.oraFine} &nbsp; ${evento.tipologia} &nbsp; <#if (evento.corso??)>${evento.corso.nome}</#if>
                                </div>
                            </div>
                        </td>
                    </#if>
                </#list>
            </tr>
        </#list>
    </table>
<#else>
    <p>Nessun evento trovato per questa aula.</p>
</#if>

