<div class="row" id="header">
    <div class="sixteen columns">
        <div class="sinistra">
            <ul class="breadcrumb">
                <li><a href="listgruppi">Home</a></li>
                <li><a href="gruppo?n=${aula.gruppo.key}">Lista Aule</a></li>
                <li><a href="aula?id=${aula.key}">Info Aula</a></li>
            </ul>
        </div>
    </div>
</div>

<h3>Eventi dell'aule ${aula.nome}</h3>

<div style="text-align: center">
    <a href="eventisettimana?IDaula=${aula.key}&data=${settiamanaprecedente}">
        <button class="classical-button">Settimana Precedente</button>
    </a>
    &nbsp;
    <a href="eventisettimana?IDaula=${aula.key}&data=${settimanasuccessiva}">
        <button class="classical-button">Settimana Prossima</button>
    </a>
</div>
<br>
<!--bisogna mettere il mese sopra i giorni della settimana, in ogni giorno della settimana bisogna mettere il numero, nel pallino nero come volevo fare io-->
<#if (eventi?size>0)>

<form style="border: none">    
    <input type="hidden" name="IDaula" value="${aula.key}"/>
    <input type="hidden" name="data" value="${data}"/>

    <button class="classical-button" type="submit" name="attachment">Scarica file iCalendar</button>
</form>

<table id="aule">
    <tr>
        <th>Orario</th>
        <th>Lun ${lunedi}</th>
        <th>Mar ${martedi}</th>
        <th>Mer ${mercoled}</th>
        <th>Gio ${giovedi}</th>
        <th>Ven ${venerdi}</th>
        <th>Sab ${sabato}</th>
        <th>Dom ${domenica}</th>
    </tr>
    <#list ["08:00-08:30", "08:30-09:00", "09:00-09:30", "09:30-10:00", "10:00-10:30", "10:30-11:00", "11:00-11:30",
    "11:30-12:00", "12:00-12:30", "12:30-13:00", "13:00-13:30", "13:30-14:00", "14:00-14:30", "14:30-15:00",
    "15:00-15:30", "15:30-16:00", "16:00-16:30", "16:30-17:00", "17:00-17:30", "17:30-18:00", "18:00-18:30",
    "18:30-19:00"] as orario>
    <tr>
        <td>${orario}</td>
        <#list eventi as evento>
        <#if (evento.oraInizio?string("HH:mm")+"-"+evento.oraFine?string("HH:mm") == orario)>
        <td>
            <div class="event-calendario">
                <div class="event-desc-calendario">
                    ${evento.nome}&nbsp; ${evento.oraInizio}&nbsp; ${evento.oraFine} &nbsp; ${evento.tipologia} &nbsp; <#if (evento.corso??)>${evento.corso.nome}</#if>
                </div>
            </div>
        </td>
        </#if>
        </#list>
    </tr>
    </#list>
</table>
<#else>
<p>Nessun evento trovato per questa aula.</p>
</#if>

