<div class="row" id="header" >
    <div class="sixteen columns">
        <div class="sinistra"> 
        <ul class="breadcrumb">
            <li><a href="listgruppi">Home</a></li>
            <li><a href="gruppo?n=${gruppo.key}">Lista Aule</a></li>
        </ul>
    </div> 
    </div>
</div>

<h3>Eventi delle aule ${gruppo.nome} per specifici corsi</h3> 
<form method="post" action="eventicorso">

    <input type="hidden" name="IDgruppo" value="${gruppo.key}"/>
    <input type="hidden" name="data" value="${data}"/>
    <#if (IDcorso??)>
    <input type="hidden" name="IDcorso" value="${corso.key!0}"/>
    </#if>
    <select name="corsoSelect">
        <option value="" disabled selected>Seleziona un Corso</option>
        <#list corsi as corsos>
        <option value="${corsos.key}"
                <#if (corso?? && corsos.key=corso.key)>
            selected="selected"
            </#if>
            >${corsos.nome}</option>
        </#list> 
    </select>
    <input type="submit" value="Cerca Eventi"/>
</form>
<#if (eventi??)>
<h3>Eventi del Corso ${corso.nome} </h3>   <a href="eventicorso?IDgruppo=${gruppo.key}&data=${settiamanaprecedente}&IDcorso=${corso.key}"><button class="classical-button"> Settimana Precedente</button> </a> &nbsp;<a href="eventicorso?IDcorso=${corso.key}&data=${settimanasuccessiva}&IDgruppo=${gruppo.key}"><button class="classical-button"> Settiamana Prossima</button> </a>

<ul>
    <#list eventi as evento>
    <li>
        <p>${evento.nome} &nbsp; ${evento.giorno} &nbsp; ${evento.aula.nome}&nbsp; ${evento.oraInizio}<p>
    </li>
    </#list>
</ul>
</#if>
