<div class="row" id="header" >
    <div class="sixteen columns">
        <div class="sinistra"> 
        <ul class="breadcrumb">
            <li><a href="listgruppi">Home</a></li>
            <li><a href="gruppo?n=${gruppo.key}">Lista Aule</a></li>
        </ul>
    </div> 
    </div>
</div>
<h3>Eventi delle aule ${gruppo.nome} del giorno ${giorno} </h3>   <a href="eventigiorno?IDgruppo=${gruppo.key}&data=${ieri}"> <button class="classical-button">Ieri</button></a> &nbsp;<a href="eventigiorno?IDgruppo=${gruppo.key}&data=${domani}"><button class="classical-button">Domani</button></a>
<#if (eventi?size>0)>
<ul>
    <#list eventi as evento>
    <li>
        <p>${evento.nome} &nbsp; ${evento.giorno} &nbsp; ${evento.aula.nome}<p>
    </li>
    </#list>
</ul>
<#else>
<p>Nessun ci sono eventi per questo giorno: ${giorno}.</p>
</#if>
