<div class="row" id="header" >
    <div class="sixteen columns">
        <div class="sinistra"> 
        <ul class="breadcrumb">
            <li><a href="listgruppi">Home</a></li>
            <li><a href="gruppo?n=${IDgruppo}">Lista Aule</a></li>
        </ul>
    </div> 
    </div>
</div>
<h3>Eventi nelle prossime 3 ore </h3>  
<#if (eventi?size>0)>
<table id="aule">
        <tr>
            <th>Nome Evento</th>
            <th>Tipologia</th>
            <th>Ora Inizio</th>
            <th>Ora Fine</th>
            <th>Aula</th>
            <th>Visualizza Evento</th>
        </tr>
        <#list eventi as evento>
        <tr>
            <td>${evento.nome}</td>
            <td>${evento.tipologia}</td>
            <td>${evento.oraInizio}</td>
            <td>${evento.oraFine}</td>
            <td>${evento.aula.nome}</td>
            <td><a href="evento?id=${evento.key}"><b style="color:blue;">Visualizza</b></a></td>
        </tr>
        </#list>
    </table>
<#else>
<p>Non ci sono eventi nelle prossime 3 ore.</p>
</#if>
