<div class="row" id="header" >
    <div class="sixteen columns">
        <div class="sinistra"> 
        <ul class="breadcrumb">
            <li><a href="listgruppi">Home</a></li>
            <li><a href="gestionegruppi">Gestione Gruppi</a></li>   

        </ul>
    </div> 
    </div>
</div>
<h2>Aule disponibili per ${gruppo.nome}</h2>
<#if (aule?size>0)>
<table id="gruppi">
    <tr>
    <th style="width: 16%">Aula</th>
    <th style="width: 30%">Edificio</th>
    <th style="width: 30%">Luogo</th>
    <th style="width: 12%">Gestione Eventi </th>
    <th style="width: 12%">Gesione Aula</th>
    </tr>
    <#list aule as aula>
     
    <tr>
        <td> ${aula.nome} </td>
        <td>${aula.posizione.edificio}</td>
        <td>${aula.posizione.luogo}</td>
        <td ><a style="color:blue; font-weight: bold;" href="gestioneeventi?IDaula=${aula.key}">Gestisci</a></td>
        <td><a style="color:red; font-weight: bold;" href="gestioneaule?IDaula=${aula.key}&IDgruppo=${gruppo.key}">Modifica</a></td>
    </tr>
    </#list>
</table>
</#if>
<a href="gestioneaule?IDaula=0&IDgruppo=${gruppo.key}"><button class="classical-button">Aggiungi Aula</button></a>
