<div class="row" id="header" >
    <div class="sixteen columns">
        <div class="sinistra"> 
        <ul class="breadcrumb">
            <li><a href="listgruppi">Home</a></li>
            <li><a href="gestionegruppi">Gestione Gruppi</a></li>   

        </ul>
    </div> 
    </div>
</div>
<h2>Aule disponibili per ${gruppo.nome}</h2>
<#if (aule?size>0)>
<ul>
    <#list aule as aula>
    <li>
        <a href="gestioneeventi?IDaula=${aula.key}"><b>${aula.nome}</b> </a><a href="gestioneaule?IDaula=${aula.key}&IDgruppo=${gruppo.key}">Modifica</a>
    </li>
    </#list>
</ul>
</#if>
<a href="gestioneaule?IDaula=0&IDgruppo=${gruppo.key}">Aggiungi Aula</a>
