<div class="row" id="header" >
    <div class="sixteen columns">
        <div class="sinistra"> 
        <ul class="breadcrumb">
            <li><a href="listgruppi">Home</a></li>

        </ul>
    </div> 
    </div>
</div>

<h2>${gruppo.nome}</h2>
<p>
    <a href="eventigiorno?IDgruppo=${gruppo.key}&data=${data}"><button class="classical-button">Eventi per Giorno</button></a>
    &nbsp;
    <a href="eventitreore?IDgruppo=${gruppo.key}"><button class="classical-button">Eventi nelle prossime 3 ore</button></a>
    &nbsp;
    <a href="eventicorso?IDgruppo=${gruppo.key}&data=${data}"><button class="classical-button">Eventi per Corso</button></a>
</p>

<#if (gruppo.aule?size > 0)>
<table id="aule">
    <tr>
        <th>Aula</th>
        <th>Piano</th>
        <th>Edificio</th>
        <th>Luogo</th>
        <th>Posti</th>
        <th>Prese Elettriche</th>
        <th>Prese Rete</th>
        <th>Note</th>

    </tr>
    <#list gruppo.aule as aula>
    <tr>
        <td><a href="aula?id=${aula.key}">${strip_slashes(aula.nome)}</a></td>
        <td>${aula.posizione.piano}</td>
        <td>${aula.posizione.edificio}</td>
        <td>${aula.posizione.luogo}</td>
        <td>${aula.capienza}</td>
        <td>${aula.numeroPreseElettriche}</td>
        <td>${aula.numeroPreseRete}</td>
        <td>${aula.note}</td>
    </tr>
    </#list>
</table>
</#if>
