<h1>Login Form</h1>
<#if logininfo??>
<p>Logged in as ${logininfo.username} from address ${logininfo.ip}</p>
<p><a href="logout">Logout</a></p>
<#else>
<form method="post" action="login">
    <#if (referrer??)>        
    <input name="referrer" type="hidden" value="${referrer}"/>
</#if> 
<div class="container_log">
    
    <label for="u"><b>Username</b></label>
    <input type="text" placeholder="Inserisci l'username" name="u" required>

    <label for="p"><b>Password</b></label>
    <input type="password" placeholder="Inserisci la Password" name="p" required>
        
    </div>
    <button class="login-button-inner" type="reset" style="background-color: red; color: white">Reset</button>
    <button class="login-button-inner" type="submit" name="login">Login</button>
</form>
</#if>





