<h2>Modifica Aula</h2>
<div class="container-group">
<form method="post" action="gestioneaule">


        <input type="hidden" name="IDaula" value="${aula.key!0}"/>
        <input type="hidden" name="IDgruppo" value="${IDgruppo}"/>
    

    <div class="ro">
        <div class="col-25">
        <label for="name"><b>Nome</b></label>
      </div>
      <div class="col-75">
          <input type="text" name="nome" id="name" value="${strip_slashes(aula.nome)}" required/>
      </div>
    </div>

    <div class="ro">
        <div class="col-25">
        <label for="cap"><b>Capienza</b></label>
      </div>
        <div class="col-75">
          <input name="capienza" id="cap" type="number" value="${aula.capienza}" />
      </div>
    </div>
    <div class="ro">
        <div class="col-25">
        <label for="mail"><b>EmailResponsabile</b></label>
      </div>
      <div class="col-75">
          <input type="email" id="mail" name="emailresponsabile" value="${strip_slashes(aula.emailResponsabile)}"/>
      </div> 
    </div>
   

    <div class="ro">
        <div class="col-25">
        <label for="Not"><b>Note</b></label>
        </div>
        <div class="col-75">
        <#if !aula.key??>
        <textarea name="note" ></textarea>  </#if>
        <#if aula.key??>
        <textarea name="note" >${strip_slashes(aula.note)}</textarea>  </#if>
        </div>
    </div>
        
    <div class="ro">
        <div class="col-25">
            <label for="PE"><b>Numero di prese Elettriche</b></label>
        </div>
        <div class="col-75"><input type="number" id="PE" name="numeropreseelettriche" value="${aula.numeroPreseElettriche}"/> </div>
    </div>

    <div class="ro">
        <div class="col-25">
            <label for="PR"><b>Numero di prese di Rete</b></label>
        </div>
        <div class="col-75"><input type="number" id="PR" name="numeropreserete" value="${aula.numeroPreseRete}"/> </div>  
    </div>

    <div class="ro">

        <div class="col-25">
            <label for="pos"><b>Posizione</b></label>
        </div>
        <div class="col-75">
                <select name="posizione" id="pos">
                <option value="" selected>Seleziona una Posizione</option>
                <#list posizioni as posizione>
                <option value="${posizione.key}"
                        <#if (aula.posizione?? && posizione.key=aula.posizione.key)>
                    selected="selected"
                    </#if>
                    >${posizione.edificio}, Piano ${posizione.piano}, ${posizione.luogo}</option>
                </#list> 
            </select>
        </div>     
    </div>
        
    <#if !aula.key??>
    <input class="submit_gruppo" style="margin: 10px" type="submit" name="update" value="Crea Aula"/> 
    </#if>
    <#if aula.key??>
    <input class="submit_gruppo" type="submit" name="update" value="Modifica Aula"/><input class="submit_gruppo" type="submit" name="delete" value="Elimina Aula"/>
    </#if>

</form>
</div>
<a href="gestioneaule?IDgruppo=${IDgruppo}"> <button class="classical-button">Indietro</button> </a>