<h2>Modifica Evento</h2>

<form method="post" action="gestioneeventi">

    <div class="container">
        <input type="hidden" name="IDevento" value="${evento.key!0}"/>
        <input type="hidden" name="data" value="${data}"/>
        <input type="hidden" name="IDaula" value="${aula.key}"/>
        <div class="row">


        </div>
    </div>
    <div class="row">
        <div class="four columns clabel">Giorno</div>
        <#if !evento.giorno??>
        <div class="twelve columns"><input  type="date" name="giorno"/></div>
        </#if>
        <#if evento.giorno??>
        <div class="twelve columns"><input  type="date" name="giorno" value="${giornoevento}"/></div>
        </#if>

    </div>

    <div class="row">

        <div class="four columns clabel">oraInizio</div>
        <#if !evento.oraInizio??>
        <div class="twelve columns"><input type="time" name="oraInizio" step="900"/></div>
        </#if>
        <#if evento.oraInizio??>
        <div class="twelve columns"><input type="time" name="oraInizio" step="900" value="${evento.oraInizio}"/></div>
        </#if>

    </div>
    <div class="row">
        <div class="four columns clabel">oraFine</div>
        <#if !evento.oraFine??>
        <div class="twelve columns"><input type="time" name="oraFine" step="900"/></div>
        </#if>
        <#if evento.oraFine??>
        <div class="twelve columns"><input type="time" name="oraFine" step="900" value="${evento.oraFine}"/></div>
        </#if>

    </div>

    <div class="row">
        <div class="four columns clabel">Nome</div>
        <div class="twelve columns"><input name="nome" value="${strip_slashes(evento.nome)}"/> </div>
    </div>

    <div class="row">
        <div class="four columns clabel">Descrizione</div>
        <div class="twelve columns"><textarea name="descrizione" >${strip_slashes(evento.descrizione)}</textarea></div>
    </div>

    <div class="row">
        <div class="four columns clabel">Tipologia</div>
        <div class="twelve columns"><select id="tipologia" name="tipologia" onchange="enableInputField()">
                <option value="" disabled selected>Seleziona una Tipologia</option>
                <#list tipologie as tipologia>
                <option value="${tipologia}"
                        <#if (evento.tipologia?? && tipologia=evento.tipologia)>
                    selected="selected"
                    </#if>
                    >${tipologia}</option>
                </#list> 
            </select>
        </div>
    </div>

    <div class="row">

        <div class="four columns clabel">Corso</div>
        <div class="twelve columns"><select name="corso" id="corsoSelect" disabled>
                <option value="" disabled selected>Seleziona un Corso</option>
                <#list corsi as corso>
                <option value="${corso.key}"
                        <#if (evento.corso?? && corso.key=evento.corso.key)>
                    selected="selected"
                    </#if>
                    >${corso.nome}</option>
                </#list> 
            </select>
            <br>
            Oppure inserisci i dati di un nuovo Corso
            <input id="corsoInput" disabled type="text"  name="nomeNuovoCorso" placeholder="Inserisci Nome">
        </div>

    </div>

    <div class="row">

        <div class="four columns clabel">Responsabile</div>
        <div class="twelve columns"><select name="responsabile">
                <option value="" disabled selected>Seleziona un responsabile</option>
                <#list responsabili as responsabile>
                <option value="${responsabile.key}"
                        <#if (evento.responsabile?? && responsabile.key=evento.responsabile.key)>
                    selected="selected"
                    </#if>
                    >${responsabile.nome}</option>
                </#list> 
            </select>
            <br>
            Oppure inserisci i dati di un nuovo Resposabile
            <input type="text"  name="nomeNuovoResponsabile" placeholder="Inserisci Nome">
            <input type="text"  name="emailNuovoResponsabile" placeholder="Inserisci Email">
        </div>

    </div>




    <#if !evento.key??>
    <div class="row"><input class="classical-button" style="margin: 10px" type="submit" name="update" value="Crea Evento"/> </div>
    </#if>
    <#if evento.key??>
    <div class="row"><input class="classical-button" style="margin: 10px" type="submit" name="update" value="Modifica Evento"/> <input class="classical-button" style="margin: 10px" type="submit" name="delete" value="Elimina Evento"/></div>
    </#if>



</form>
<div class="row" style="margin: 10px"><a href="gestioneeventi?IDaula=${aula.key}"> <button class="classical-button">Indietro</button> </a></div>

<script>
    function enableInputField() {
        var selectTipologia = document.getElementById("tipologia");
        var selectCorso = document.getElementById("corsoSelect");
        var inputCorso = document.getElementById("corsoInput");
        if (selectTipologia.value === "lezione" || selectTipologia.value === "parziale" || selectTipologia.value === "esame") {
            inputCorso.removeAttribute("disabled");
            selectCorso.removeAttribute("disabled");
        } else {
            selectCorso.value = "";
            inputCorso.setAttribute("disabled", "disabled");
            selectCorso.setAttribute("disabled", "disabled");
        }
    }
</script>
