<h2>Modifica Evento</h2>

<form method="post" action="gestionegruppi">

    <div class="container">
        <input type="hidden" name="IDgruppo" value="${gruppo.key!0}"/>
        <div class="row">

        </div>
    </div>

    <div class="row">
        <div class="four columns clabel">Nome</div>
        <div class="twelve columns"><input name="nome" value="${strip_slashes(gruppo.nome)}"/> </div>
    </div>

    <div class="row">
        <div class="four columns clabel">Descrizione</div>
        <div class="twelve columns"><textarea name="descrizione" >${strip_slashes(gruppo.descrizione)}</textarea></div>
    </div>

    <#if !gruppo.key??>
    <div class="row"><input type="submit" name="update" value="Crea Gruppo"/> </div>
    </#if>
    <#if gruppo.key??>
    <div class="row"><input type="submit" name="update" value="Modifica Gruppo"/> <input type="submit" name="delete" value="Elimina Gruppo"/></div>
    </#if>



</form>