<div class="row" id="header">
    <div class="three columns">
        <image title="Logo" src="images/Logo_Univaq.png">

    </div>
    <div class="ten columns">AuleWeb Univaq
        <div class="subtitle">${page_title!"Untitled page"}</div>
    </div>
    <div class="three columns">
        <div class="logininfo">
            <#if logininfo??>
            ${logininfo.username} <a href="logout?referrer=${thispageurl?url}"></a>
            <#else>
            <a href="login?referrer=${thispageurl?url}"></a>
            </#if>
        </div></div>
</div>

